{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Sign In</h1>
    <form action="/index" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="container">
            <div class="form-floating mb-3">
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </div>

            <div class="text-center">
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </div>
            <style>
                div.form-floating {
                    margin: 10px;
                }

                input.btn {
                    margin: 10px;
                    position: center;
                    text-align: center;
                }
            </style>
        </div>
    </form>
{% endblock %}